<header>
  <div class="container-fluid">
    <div class="container">
      <div class="header-container__top">
        {{{blocks.image}}}
        {{{blocks.title}}}
        {{{blocks.secondaryMenu}}}
      </div>
      <div class="header-container__bottom">
        {{{blocks.megaMenu}}}
        {{{blocks.search}}}
      </div>
    </div>
  <div id="gradientBorder"></div>
</header>