<!DOCTYPE html>
<html>
  <head>
    <title>KTH | {{title}}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{description}}">
    <link rel="shortcut icon" id="favicon" href="//www.kth.se/img/icon/favicon.ico">

    {{#if canonicalUrl}}
      <link href="{{canonicalUrl}}" rel="canonical">
    {{/if}}

    {{prefixStyle '/static/css/bootstrap/bootstrap.min.css' 'styles' 'screen'}}
    {{prefixStyle '/static/css/kth-style/kth-bootstrap-theme.css' 'styles' 'screen'}}
    {{prefixStyle '/static/css/node-web.css' 'styles' 'screen'}}

    {{{render 'styles'}}}

    {{prefixScript '/static/js/vendor.js' 'head-scripts'}}
    {{#extend 'head-scripts'}}
      <script src="//www.kth.se/social/toolbar/widget.js"></script>
      <!-- analytics start -->
      {{{blocks.analytics}}}
      <!-- analytics end -->
    {{/extend}}

    {{#if debug}}
      {{prefixScript '/static/js/lib/firebug-lite/build/firebug-lite.js' 'head-scripts'}}
    {{/if}}

    {{{render 'head-scripts'}}}
  </head>
  <body>
    <div class="container">
      {{> kthHeader }}
      {{{body}}}
      {{> kthFooter }}
    </div>
    {{{render 'scripts'}}}
  </body>
</html>
