<!--script>
  window.__initialState__ = {{{initialState}}}
</script-->




<h1>Kurinformation - Sprint 1</h1>

{{#if error}}
  <p>Error: {{error}}</p>
{{else}}
  <div id="api-data">{{data}}</div>
{{/if}}



<div id="kth-kursinfo">{{{html}}}</div>
