<script>{{{compressedData}}}</script>

{{prefixScript '/static/js/ckeditor/ckeditor.js'}}

{{#if error}}
  <p>Error: {{error}}</p>
{{/if}}

<div id='app'>{{{html}}}</div>
{{prefixScript '/static/app.js' 'scripts'}}<!---->