<script>
  window.__initialState__ = {{{initialState}}}
  window.onload = () => {
      CKEDITOR.replace( 'editor1' )
  }
</script>
<!--script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script-->
{{prefixScript '/static/js/app.js' 'scripts'}}
{{prefixScript '/static/js/ckeditor/ckeditor.js'}}


<!--h1>Kurinformation - Sprint 1</h1-->

{{#if error}}
  <p>Error: {{error}}</p>
{{else}}
  <div id="api-data">{{data}}</div>
{{/if}}



<div id="kth-kursinfo">{{{html}}}</div>
