<script>{{{compressedData}}}</script>

{{prefixScript '/static/js/ckeditor/ckeditor.js'}}

{{#if error}}
  <p>Error: {{error}}</p>
{{else}}
  <div id='api-data'>{{data}}</div>
{{/if}}

<div id='app'>{{{html}}}</div>
{{prefixScript '/static/app.js' 'scripts'}}<!---->