<script>{{{compressedData}}}</script>
{{prefixScript '/static/app.js' 'scripts'}}<!---->

<div id='app'>
  <div key='kursinfo-container' className='kursinfo-main-page col'>

    <h1>Monitor images</h1>

    {{#if error}}
      <p>Error: {{error}}</p>
    {{else}}
      <div id='api-data'>
        {{#if missingImagesHeader}}
          <h4>Missing images in file/blob storage</h4>

          <ul>
            {{#each missingImagesInBlob}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
        {{else}}
          <p><i>All images exist in blob storage, no errors.</i></p>
        {{/if}}

        {{#if unusedImagesInBlobHeader}}
          <h4>Unused images in file storage which might be removed. OBS! Check before removing (in case
            error/pagination)</h4>

          <ul>
            {{#each unusedImagesInBlob}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
        {{else}}
          <p><i>No unused images in file storage, no cleaning required.</i></p>
        {{/if}}
      </div>
    {{/if}}
  </div>
</div>